%table
  %thead
    %tr
      %th #
      %th File
      %th Message
  %tbody
    - @commits.each do |c|
      %tr
        %td= c[:sequence_number]
        %td
          %a{ :href => c[:url_path] }
            = c[:file_name]
        %td= c[:message]
