%h1 Enter your domain name and generate a key

%form{ :method => :post, :action => :keys }
  %input{ :type => :text, :name => :domain }
  %br
  %br
  %input{ :type => :submit, :name => :submit, :value => "generate_key" }

